@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body { font-family: Georgia, Cambria, "Times New Roman", Times, serif !important; }

#text {
  font-size: 1.3rem;
  line-height: 2rem;
}

#text p { margin-top: 2rem; }

main article { margin: 1rem 0; }

.news { margin-bottom: 2rem; }

nav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 1rem;
}

.noticia {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
article .title { color: white !important; }
.title a { text-decoration: none !important; }
.subtitle { color: white !important; }

h1, h2, h3, h4, h5 {
  line-height: 48px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
}

section p {
  line-height: 33.18px;
  vertical-align: baseline;
  letter-spacing: -0.084px;
  word-spacing: 0px;
}

.likes { margin: 20px 0; }

.likes .icon {
  padding: 20px;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, .1) solid;
  color: rgba(0, 0, 0, .5);
}

.likes a { color: rgba(0, 0, 0, .5); }
.likes a:hover { color: rgba(0, 0, 0, 1); }

.likes .icon:hover {
  border: 1px rgba(0, 0, 0, 1) solid;
  color: rgba(0, 0, 0, 1);
  transition: .5s ease;
}

.likes-text { margin-left: .5rem; }

#comments-title {
  margin-top: 20px;
}

.comment-box {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background: white;
  box-shadow:0 0 4px rgba(0,0,0,0.8);
}

.comment-header span {
  font-weight: bold;
}

.date {
  font-size: 1rem;
}

#editor {
  min-height: 130px;
}